body {
  background-color: #131720;
  color: aliceblue;
  display: flex;
  text-align: center;
  min-height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}
a {
  background-color: aliceblue;
  color: #131720;
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  margin-top: 1rem;
}
